*out
*sif
*wandb*
*cache*
*conda*
*conda-meta*
*.keras*
*.nv*
*checkpoints*
*.pth*
*local*
*__pycache__*
*.ipython*
*.conda*
*backup*
**backup
*new_bkup*
backup*
new_bkup*
*bkup*
**new_bkup
**new_bkup**